.wrapper {
    width: 100%;
}

.content {
    flex: 1;
}

.container {
    display: flex;
    max-width: 100%;
    width: var(
        --default-layout-width,
        60px
    ); // Nếu không có biến thì mặc định là 60px
    gap: 0 60px;
    padding: 0 var(--default-layout-horizontal-spacer);
    margin: var(--default-layout-header-height) auto 0 auto;
}
